<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <title>Hans Riess</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/css/main.css" />
    <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>

<body class="homepage is-preload">
    <div id="page-wrapper">
        <!-- Header -->
        <div id="header">
        </div>

        <!-- Bio Section with Email -->
        <section id="bio" class="wrapper style2">
            <div class="container special">
                <article id="papers" class="row aln-middle">
                    <!-- Header Section -->
                    <header class="col-12" style="text-align: center; margin-bottom: 2em;">
                        <h2 class="bio-title">Hans Riess</h2>
                        <h3 class="bio-subtitle"> {{ profile.title }}, {{ profile.institution }}</h3>
                        <p style="font-size: 1em; color: #483949;">
                            <span><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></span><br>
                            <span>{{ profile.office }}</span>
                        </p>
                    </header>
                     
                    <div class="col-8 col-12-mobile bio-content">
                        <h2 class="bio-title"> Bio </h2> 
                        <p>
                            {{ profile.bio }}
                        </p>
                    </div>

                    <!-- Image Section -->
                    <div class="col-4 col-12-mobile bio-image">
                        <img src="/static/images/headshot.jpeg" alt="Headshot" class="image fit" />
                    </div>

                    <!-- Footer Section -->
                    <footer class="col-12" style="text-align: center; margin-top: 2em;">
                        {% if profile.cv %}
                            <ul class="actions">
                                <li>
                                    <a href="{{ profile.cv.url }}" class="button alt bio-button">Download CV</a>
                                </li>
                            </ul>
                        {% endif %}
                    </footer>
                </article>
            </div>
        </section>

        <!-- Publications Section -->
        <section id="papers">
            <div class="wrapper style2">
                <article id="papers" class="container special">
                    <header>
                        <h2 class="bio-title">Publications</h2>
                    </header>

                    {% if journal_articles %}
                    <h3>Journal Publications</h3>
                    {% for reference in journal_articles %}
                    <div class="publication">
                        <p class="publication-text">
                            {{ reference.get_authors_display|safe }}. ({{ reference.year }}). {% if reference.url %}<a href="{{ reference.url }}">{% elif reference.pdf_file %}<a href="{{ reference.pdf_file.url }}">{% endif %}{{ reference.title }}{% if reference.url or reference.pdf_file %}</a>{% endif %}. <em>{{ reference.journal }}</em>{% if reference.volume %}, {{ reference.volume }}{% endif %}{% if reference.pages %}, {{ reference.pages }}{% endif %}.
                        </p>
                        {% if reference.abstract %}
                        <div class="publication-details">
                            <div class="publication-content">
                                <div class="publication-abstract">
                                    <p><b>Abstract:</b> {{ reference.abstract }}</p>
                                </div>
                                {% if reference.reference_image %}
                                <div class="publication-image">
                                    <img src="{{ reference.reference_image.url }}" alt="Reference image" onerror="this.parentElement.style.display='none';" />
                                </div>
                                {% endif %}
                            </div>
                            <div class="buttons">
                                {% if reference.url %}
                                <a href="{{ reference.url }}" class="button small">Link</a>
                                {% elif reference.pdf_file %}
                                <a href="{{ reference.pdf_file.url }}" class="button small">PDF</a>
                                {% endif %}
                                {% if reference.code %}
                                <a href="{{ reference.code }}" class="button small">Code</a>
                                {% endif %}
                                {% if reference.slides %}
                                <a href="{{ reference.slides.url }}" class="button small">Slides</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}

                    {% if conference_proceedings %}
                    <h3>Conference Proceedings</h3>
                    {% for reference in conference_proceedings %}
                    <div class="publication">
                        <p class="publication-text">
                            {{ reference.get_authors_display|safe }}. ({{ reference.year }}). {% if reference.url %}<a href="{{ reference.url }}">{% elif reference.pdf_file %}<a href="{{ reference.pdf_file.url }}">{% endif %}{{ reference.title }}{% if reference.url or reference.pdf_file %}</a>{% endif %}, in <em>{{ reference.journal }}</em>.
                        </p>
                        {% if reference.abstract %}
                        <div class="publication-details">
                            <div class="publication-content">
                                <div class="publication-abstract">
                                    <p><b>Abstract:</b> {{ reference.abstract }}</p>
                                </div>
                                {% if reference.reference_image %}
                                <div class="publication-image">
                                    <img src="{{ reference.reference_image.url }}" alt="Reference image" onerror="this.parentElement.style.display='none';" />
                                </div>
                                {% endif %}
                            </div>
                            <div class="buttons">
                                {% if reference.url %}
                                <a href="{{ reference.url }}" class="button small">Link</a>
                                {% elif reference.pdf_file %}
                                <a href="{{ reference.pdf_file.url }}" class="button small">PDF</a>
                                {% endif %}
                                {% if reference.code %}
                                <a href="{{ reference.code }}" class="button small">Code</a>
                                {% endif %}
                                {% if reference.slides %}
                                <a href="{{ reference.slides.url }}" class="button small">Slides</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}

                    {% if preprints %}
                    <h3>Preprints</h3>
                    {% for reference in preprints %}
                    <div class="publication">
                        <p class="publication-text">
                            {{ reference.get_authors_display|safe }}. ({{ reference.year }}). {% if reference.url %}<a href="{{ reference.url }}">{% elif reference.pdf_file %}<a href="{{ reference.pdf_file.url }}">{% endif %}{{ reference.title }}{% if reference.url or reference.pdf_file %}</a>{% endif %}.
                        </p>
                        {% if reference.abstract %}
                        <div class="publication-details">
                            <div class="publication-content">
                                <div class="publication-abstract">
                                    <p><b>Abstract:</b> {{ reference.abstract }}</p>
                                </div>
                                {% if reference.reference_image %}
                                <div class="publication-image">
                                    <img src="{{ reference.reference_image.url }}" alt="Reference image" onerror="this.parentElement.style.display='none';" />
                                </div>
                                {% endif %}
                            </div>
                            <div class="buttons">
                                {% if reference.url %}
                                <a href="{{ reference.url }}" class="button small">Link</a>
                                {% elif reference.pdf_file %}
                                <a href="{{ reference.pdf_file.url }}" class="button small">PDF</a>
                                {% endif %}
                                {% if reference.code %}
                                <a href="{{ reference.code }}" class="button small">Code</a>
                                {% endif %}
                                {% if reference.slides %}
                                <a href="{{ reference.slides.url }}" class="button small">Slides</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}
                    
                    {% if books %}
                    <h3>Books</h3>
                    {% for reference in books %}
                    <div class="publication">
                        <p class="publication-text">
                            {{ reference.get_authors_display|safe }}. ({{ reference.year }}). <em>{% if reference.url %}<a href="{{ reference.url }}">{% elif reference.pdf_file %}<a href="{{ reference.pdf_file.url }}">{% endif %}{{ reference.title }}{% if reference.url or reference.pdf_file %}</a>{% endif %}</em>.
                        </p>
                        {% if reference.abstract %}
                        <div class="publication-details">
                            <div class="publication-content">
                                <div class="publication-abstract">
                                    <p><b>Abstract:</b> {{ reference.abstract }}</p>
                                </div>
                                {% if reference.reference_image %}
                                <div class="publication-image">
                                    <img src="{{ reference.reference_image.url }}" alt="Reference image" onerror="this.parentElement.style.display='none';" />
                                </div>
                                {% endif %}
                            </div>
                            <div class="buttons">
                                {% if reference.url %}
                                <a href="{{ reference.url }}" class="button small">Link</a>
                                {% elif reference.pdf_file %}
                                <a href="{{ reference.pdf_file.url }}" class="button small">PDF</a>
                                {% endif %}
                                {% if reference.code %}
                                <a href="{{ reference.code }}" class="button small">Code</a>
                                {% endif %}
                                {% if reference.slides %}
                                <a href="{{ reference.slides.url }}" class="button small">Slides</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}

                    {% if book_chapters %}
                    <h3>Book Chapters</h3>
                    {% for reference in book_chapters %}
                    <div class="publication">
                        <p class="publication-text">
                            {{ reference.get_authors_display|safe }}. ({{ reference.year }}). {{ reference.title }}. In <em>{{ reference.journal }}</em>{% if reference.pages %} (pp. {{ reference.pages }}){% endif %}.
                        </p>
                        {% if reference.abstract %}
                        <div class="publication-details">
                            <div class="publication-content">
                                <div class="publication-abstract">
                                    <p><b>Abstract:</b> {{ reference.abstract }}</p>
                                </div>
                                {% if reference.reference_image %}
                                <div class="publication-image">
                                    <img src="{{ reference.reference_image.url }}" alt="Reference image" onerror="this.parentElement.style.display='none';" />
                                </div>
                                {% endif %}
                            </div>
                            <div class="buttons">
                                {% if reference.url %}
                                <a href="{{ reference.url }}" class="button small">Link</a>
                                {% elif reference.pdf_file %}
                                <a href="{{ reference.pdf_file.url }}" class="button small">PDF</a>
                                {% endif %}
                                {% if reference.code %}
                                <a href="{{ reference.code }}" class="button small">Code</a>
                                {% endif %}
                                {% if reference.slides %}
                                <a href="{{ reference.slides.url }}" class="button small">Slides</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}

                    {% if theses %}
                    <h3>Thesis</h3>
                    {% for reference in theses %}
                    <div class="publication">
                        <p class="publication-text">
                            {{ reference.get_authors_display|safe }}. ({{ reference.year }}). {% if reference.url %}<a href="{{ reference.url }}">{% elif reference.pdf_file %}<a href="{{ reference.pdf_file.url }}">{% endif %}{{ reference.title }}{% if reference.url or reference.pdf_file %}</a>{% endif %}.
                        </p>
                        {% if reference.abstract %}
                        <div class="publication-details">
                            <div class="publication-content">
                                <div class="publication-abstract">
                                    <p><b>Abstract:</b> {{ reference.abstract }}</p>
                                </div>
                                {% if reference.reference_image %}
                                <div class="publication-image">
                                    <img src="{{ reference.reference_image.url }}" alt="Reference image" onerror="this.parentElement.style.display='none';" />
                                </div>
                                {% endif %}
                            </div>
                            <div class="buttons">
                                {% if reference.url %}
                                <a href="{{ reference.url }}" class="button small">Link</a>
                                {% elif reference.pdf_file %}
                                <a href="{{ reference.pdf_file.url }}" class="button small">PDF</a>
                                {% endif %}
                                {% if reference.code %}
                                <a href="{{ reference.code }}" class="button small">Code</a>
                                {% endif %}
                                {% if reference.slides %}
                                <a href="{{ reference.slides.url }}" class="button small">Slides</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}

                    {% if other %}
                    <h3>Other</h3>
                    {% for reference in other %}
                    <div class="publication">
                        <p class="publication-text">
                            {{ reference.get_authors_display|safe }}. ({{ reference.year }}). {% if reference.url %}<a href="{{ reference.url }}">{% elif reference.pdf_file %}<a href="{{ reference.pdf_file.url }}">{% endif %}{{ reference.title }}{% if reference.url or reference.pdf_file %}</a>{% endif %}.
                        </p>
                        {% if reference.abstract %}
                        <div class="publication-details">
                            <div class="publication-content">
                                <div class="publication-abstract">
                                    <p><b>Abstract:</b> {{ reference.abstract }}</p>
                                </div>
                                {% if reference.reference_image %}
                                <div class="publication-image">
                                    <img src="{{ reference.reference_image.url }}" alt="Reference image" onerror="this.parentElement.style.display='none';" />
                                </div>
                                {% endif %}
                            </div>
                            <div class="buttons">
                                {% if reference.url %}
                                <a href="{{ reference.url }}" class="button small">Link</a>
                                {% elif reference.pdf_file %}
                                <a href="{{ reference.pdf_file.url }}" class="button small">PDF</a>
                                {% endif %}
                                {% if reference.code %}
                                <a href="{{ reference.code }}" class="button small">Code</a>
                                {% endif %}
                                {% if reference.slides %}
                                <a href="{{ reference.slides.url }}" class="button small">Slides</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </article>
            </div>
        </section>

        <section id="photo">
            <div class="wrapper style2">
                <article class="container special" style="text-align: center;">
                    <img src="/static/images/talk.jpeg" alt="Talk" style="width: 90%;" />
                </article>
            </div>
        </section>

        <div id="footer">
            <div class="container">
                <section class="contact">
                    <ul class="icons">
                        <li><a href="mailto:{{ profile.email }}" class="fa-solid fa-envelope"><span class="label"></span></a></li>
                        <li><a href="{{ profile.twitter }}" class="fa-brands fa-x-twitter"><span class="label"></span></a></li>
                        <li><a href="{{ profile.linkedin }}" class="fa-brands fa-linkedin"><span class="label"></span></a></li>
                        <li><a href="{{ profile.github }}" class="fa-brands fa-github"><span class="label"></span></a></li>
                        <li><a href="{{ profile.google_scholar }}" class="fa-brands fa-google-scholar"><span class="label"></span></a></li>
                    </ul>
                    <div class="copyright">
                        <ul class="menu">
                            <li>Hans Riess &copy; Copyright 2025. All rights reserved.</li>
                            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.scrolly.min.js"></script>
    <script src="static/js/jquery.scrollex.min.js"></script>
    <script src="static/js/browser.min.js"></script>
    <script src="static/js/breakpoints.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>
    <script src="https://kit.fontawesome.com/ff0bf837c9.js" crossorigin="anonymous"></script>
</body>
</html>